body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pizzaMain {
  background: #eee7dc;
  background: rgb(76, 0, 242);
  background: linear-gradient(
    0deg,
    rgba(76, 0, 242, 1) 0%,
    rgba(104, 45, 253, 1) 50%,
    rgba(76, 0, 242, 1) 100%
  );
  color: white;
}
.pizzaArea {
  min-height: 100vh;
}
.pizzaSidebar {
  background: rgba(0, 0, 0, 0.15);
  min-height: 100vh;
}

.btntex {
  border-color: white !important;
  span {
    color: white;
  }
}

.stages {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listpizza {
  font-size: 22px;
  small {
    font-size: 12px !important;
    color: rgba(255, 255, 255, 0.75);
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.progressStages {
  ul {
    list-style: none;
    display: flex;
    font-size: 13px;
    margin: 0;
    padding: 0;
    li {
      margin: 5px;
      padding: 5px 15px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      color: rgba(255, 255, 255, 0.3);
    }
    .active {
      border-color: white;
      color: white;
    }
    .linesep {
      margin: 20px -4px 0 -4px;
      padding: 0;
      border-bottom: none;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-left: none;
      border-right: none;
      border-radius: 0;
      width: 30px;
    }
    .linesep.active {
      border-color: white;
    }
  }
}

.progressStages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0;
}
