body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pizzaMain {
  background: #eee7dc;
  background: rgb(76, 0, 242);
  background: linear-gradient(
    0deg,
    rgba(76, 0, 242, 1) 0%,
    rgba(104, 45, 253, 1) 50%,
    rgba(76, 0, 242, 1) 100%
  );
  color: white;
}
.pizzaArea {
  min-height: 100vh;
}
.pizzaSidebar {
  background: rgba(0, 0, 0, 0.15);
  min-height: 100vh;
}

.btntex {
  border-color: white !important;
  span {
    color: white;
  }
}
